block content
    h1.
        ImgurDL Uses
    ul
        each use, i in imgurdlUses
            li #{i} - IP: #{use.ip}
                div TERM: #{use.term}
                div TIME: #{use.time}
                div   OS: #{use.os}
                div  VER: #{use.ver}

