block content
    h1.
        ImgurDL Uses
    ul
        each use, i in imgurdlUses
            li #{i} - #{use.ip}
                div #{use.term}
                div #{use.time}
                div #{use.os}

