link(href='/stylesheets/bootstrap.css', rel='stylesheet')
script(src='/javascripts/bootstrap.min.js')
block content
    h1.
        ImgurDL Uses
    div.table-responsive
        table.table.table-sm.table-bordered.table-inverse.table-hover
            thead.thead-inverse
                tr
                    th #
                    th ip
                    th Time
                    th OS
                    th Version
                    th Term
            tbody
                each use, i in imgurdlUses
                    tr
                        th(scope='row') #{i}
                        td #{use.ip}
                        td #{moment(1000 * use.time).format('YYYY/MM/DD h:mm:ss a')}
                        td #{use.os}
                        td #{use.ver}
                        td #{use.term}
