link(href='/stylesheets/style.css', rel='stylesheet')
link(href='/stylesheets/bootstrap.css', rel='stylesheet')
script(src='/javascripts/jquery-3.1.0.min.js')
script(src='/javascripts/bootstrap.min.js')
script var info = !{JSON.stringify(imgurdlUses)}
script(src='/javascripts/map.js')
block content
    h1.
        ImgurDL Uses - #{count}
    h3.
        Page: #{current}
    img(src="")#map
    div#map_canvas
    div.table-responsive
        table.table.table-sm.table-bordered.table-inverse.table-hover
            thead.thead-inverse
                tr
                    th #
                    th ip
                    th Time
                    th OS
                    th Version
                    th Country
                    th Timezone
                    th Geo
                    th Term
            tbody
                each use, i in imgurdlUses
                    tr
                        th(scope='row') #{(perPage * current) - perPage + i}
                        td #{use.ip}
                        td #{moment(1000 * use.time).format('YYYY/MM/DD h:mm:ss a')}
                        td #{use.os}
                        td #{use.ver}
                        td #{use.country}
                        td #{use.timezone}
                        td
                            a(href='http://google.com/maps/?q=' + use.latitude + ',' + use.longitude) #{use.latitude} #{use.longitude}
                        td #{use.term}
    nav
      ul.pagination
        li.page-item 
          a.page-link(href="http://chicosystems.com:3000/api/imgurdl/uses/1") First
        - if(current == 1)
          li.page-item.disabled
            a.page-link(href="1") Prev
        - else
          li.page-item
            a.page-link(href="http://chicosystems.com:3000/api/imgurdl/uses/#{current-1}") Prev
        - if(current == pages)
          li.page-item.disabled
        - else
          li.page-item
            a.page-link(href="http://chicosystems.com:3000/api/imgurdl/uses/#{parseFloat(current)+1}") Next
        li.page-item
          a.page-link(href="http://chicosystems.com:3000/api/imgurdl/uses/#{pages}") Last
    
          
